.fontCol2 {
    text-align: center;
    border: 2px #000000 solid;
    border-color: #00000069;
    border-radius: 10px;
    color: #ffffff;
    text-shadow: 4px 4px 4px #000000;
    padding: 16px;
    margin-top: 20px;
    background: url("../images/bg-5.gif");
    background-size: auto;
    background-position: 575px 0;
    -webkit-transition: 1s;
    transition: 1s;    
}

@media screen and (min-width: 1080px) {
    .fontCol2 {
        background-position: 100px 0;
    }
}